/*
 * You can just delete everything here or keep whatever you like, it's just a
 * quick baseline!
 */
:root {
  --color-foreground: hsl(0, 0%, 7%);
  --color-background: #f5f5f7;
  --color-links: hsl(213, 100%, 52%);
  --color-links-hover: hsl(213, 100%, 43%);
  --color-border: hsl(0, 0%, 82%);
  --font-body: -apple-system, "Segoe UI", Helvetica Neue, Helvetica, Roboto,
    Arial, sans-serif, system-ui, "Apple Color Emoji", "Segoe UI Emoji";
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:-moz-focusring {
  outline: auto;
}

:focus {
  outline: var(--color-links) solid 2px;
  outline-offset: 2px;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--color-background);
  color: var(--color-foreground);
}

body {
  font-family: var(--font-body);
  line-height: 1.5;
}

a {
  color: var(--color-links);
  text-decoration: none;
}

a:hover {
  color: var(--color-links-hover);
  text-decoration: underline;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  background-color: var(--color-border);
  margin-top: 2rem;
  margin-bottom: 2rem;
}

input:where([type="text"]),
input:where([type="search"]) {
  display: block;
  border: 1px solid var(--color-border);
  width: 100%;
  font: inherit;
  line-height: 1;
  height: calc(1ch + 1.5em);
  padding-right: 0.5em;
  padding-left: 0.5em;
  background-color: hsl(0 0% 100% / 20%);
  color: var(--color-foreground);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.container {
  --gutter: 16px;
  width: 1024px;
  max-width: calc(100% - var(--gutter) * 2);
  margin-right: auto;
  margin-left: auto;
}

.remix-app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: calc(100vh - env(safe-area-inset-bottom));
}

.remix-app > * {
  width: 100%;
}

.remix-app__header {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--color-border);
}

.remix-app__header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.remix-app__header-home-link {
  width: 106px;
  height: 30px;
  color: var(--color-foreground);
}

.remix-app__header-nav ul {
  list-style: none;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 1.5em;
}

.remix-app__header-nav li {
  font-weight: bold;
}

.remix-app__main {
  flex: 1 1 100%;
}

.remix-app__footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
  /* border-top: 1px solid var(--color-border); */
}

.remix-app__footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.remix__page {
  --gap: 1rem;
  --space: 2rem;
  display: grid;
  /* grid-auto-rows: min-content; */
  gap: var(--gap);
  padding-top: var(--space);
  padding-bottom: var(--space);
}

@media print, screen and (min-width: 640px) {
  .remix__page {
    --gap: 2rem;
    grid-auto-rows: unset;
    /* grid-template-columns: repeat(2, 1fr); */
  }
}

@media screen and (min-width: 1024px) {
  .remix__page {
    --gap: 4rem;
  }
}

.remix__page > main > :first-child {
  margin-top: 0;
}

.remix__page > main > :last-child {
  margin-bottom: 0;
}

.remix__page > aside {
  margin: 0;
  padding: 1.5ch 2ch;
  border: solid 1px var(--color-border);
  border-radius: 0.5rem;
}

.remix__page > aside > :first-child {
  margin-top: 0;
}

.remix__page > aside > :last-child {
  margin-bottom: 0;
}

.remix__form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border: 1px solid var(--color-border);
  border-radius: 0.5rem;
}

.remix__form > * {
  margin-top: 0;
  margin-bottom: 0;
}

/* Candy mesh gredient */
.candy_mesh {
  background-color: rgb(241, 245, 249);
  background-image: radial-gradient(
      at 40% 87%,
      rgb(125, 211, 252) 0,
      transparent 51%
    ),
    radial-gradient(at 34% 53%, rgb(254, 202, 202) 0, transparent 82%),
    radial-gradient(at 57% 21%, rgb(14, 165, 233) 0, transparent 69%),
    radial-gradient(at 4% 11%, rgb(232, 121, 249) 0, transparent 88%),
    radial-gradient(at 37% 84%, rgb(139, 92, 246) 0, transparent 15%),
    radial-gradient(at 69% 46%, rgb(187, 247, 208) 0, transparent 23%);
}

 {
  /* 
For a mesh gradient
background-color: rgb(245, 245, 244);
background-image: radial-gradient(at 3% 76%, rgb(168, 85, 247) 0, transparent 85%), radial-gradient(at 75% 45%, rgb(29, 78, 216) 0, transparent 46%), radial-gradient(at 6% 93%, rgb(24, 24, 27) 0, transparent 2%), radial-gradient(at 26% 32%, rgb(162, 28, 175) 0, transparent 10%), radial-gradient(at 71% 18%, rgb(74, 222, 128) 0, transparent 9%), radial-gradient(at 76% 60%, rgb(254, 205, 211) 0, transparent 4%);

background-color: rgb(241, 245, 249);
background-image: radial-gradient(at 40% 87%, rgb(125, 211, 252) 0, transparent 51%), radial-gradient(at 34% 53%, rgb(254, 202, 202) 0, transparent 82%), radial-gradient(at 57% 21%, rgb(14, 165, 233) 0, transparent 69%), radial-gradient(at 4% 11%, rgb(232, 121, 249) 0, transparent 88%), radial-gradient(at 37% 84%, rgb(139, 92, 246) 0, transparent 15%), radial-gradient(at 69% 46%, rgb(187, 247, 208) 0, transparent 23%);


background-color: rgb(96, 165, 250);
background-image: radial-gradient(at 23% 26%, rgb(245, 208, 254) 0, transparent 15%), radial-gradient(at 23% 42%, rgb(253, 244, 255) 0, transparent 72%), radial-gradient(at 22% 13%, rgb(245, 243, 255) 0, transparent 41%), radial-gradient(at 93% 69%, rgb(191, 219, 254) 0, transparent 12%), radial-gradient(at 12% 32%, rgb(203, 213, 225) 0, transparent 42%), radial-gradient(at 79% 45%, rgb(196, 181, 253) 0, transparent 18%);


background-color: rgb(207, 250, 254);
background-image: radial-gradient(at 6% 100%, rgb(49, 46, 129) 0, transparent 38%), radial-gradient(at 25% 23%, rgb(192, 132, 252) 0, transparent 93%), radial-gradient(at 77% 77%, rgb(254, 240, 138) 0, transparent 24%), radial-gradient(at 51% 99%, rgb(220, 38, 38) 0, transparent 61%), radial-gradient(at 26% 90%, rgb(6, 95, 70) 0, transparent 1%), radial-gradient(at 2% 19%, rgb(239, 68, 68) 0, transparent 49%);


background-color: rgb(245, 243, 255);
background-image: radial-gradient(at 1% 21%, rgb(153, 246, 228) 0, transparent 11%), radial-gradient(at 83% 53%, rgb(129, 140, 248) 0, transparent 37%), radial-gradient(at 79% 99%, rgb(167, 243, 208) 0, transparent 51%), radial-gradient(at 18% 67%, rgb(129, 140, 248) 0, transparent 34%), radial-gradient(at 31% 51%, rgb(136, 19, 55) 0, transparent 3%), radial-gradient(at 52% 88%, rgb(234, 88, 12) 0, transparent 91%);


background-color: rgb(59, 130, 246);
background-image: radial-gradient(at 16% 86%, rgb(74, 222, 128) 0, transparent 40%), radial-gradient(at 11% 66%, rgb(252, 165, 165) 0, transparent 88%), radial-gradient(at 83% 23%, rgb(34, 211, 238) 0, transparent 72%), radial-gradient(at 41% 23%, rgb(243, 232, 255) 0, transparent 74%), radial-gradient(at 45% 27%, rgb(250, 232, 255) 0, transparent 56%), radial-gradient(at 51% 81%, rgb(250, 245, 255) 0, transparent 37%);


background-color: rgb(147, 197, 253);
background-image: radial-gradient(at 55% 49%, rgb(216, 180, 254) 0, transparent 91%), radial-gradient(at 49% 93%, rgb(251, 146, 60) 0, transparent 12%), radial-gradient(at 73% 68%, rgb(110, 231, 183) 0, transparent 23%), radial-gradient(at 26% 37%, rgb(88, 28, 135) 0, transparent 30%), radial-gradient(at 63% 97%, rgb(248, 113, 113) 0, transparent 64%), radial-gradient(at 88% 80%, rgb(204, 251, 241) 0, transparent 29%);


background-color: rgb(59, 130, 246);
background-image: radial-gradient(at 83% 56%, rgb(209, 250, 229) 0, transparent 11%), radial-gradient(at 90% 7%, rgb(243, 244, 246) 0, transparent 45%), radial-gradient(at 7% 13%, rgb(250, 245, 255) 0, transparent 71%), radial-gradient(at 48% 51%, rgb(253, 230, 138) 0, transparent 66%), radial-gradient(at 66% 3%, rgb(226, 232, 240) 0, transparent 65%), radial-gradient(at 57% 39%, rgb(22, 78, 99) 0, transparent 54%);


background-color: rgb(245, 158, 11);
background-image: radial-gradient(at 89% 18%, rgb(107, 114, 128) 0, transparent 15%), radial-gradient(at 19% 25%, rgb(99, 102, 241) 0, transparent 89%), radial-gradient(at 11% 39%, rgb(136, 19, 55) 0, transparent 21%), radial-gradient(at 65% 9%, rgb(203, 213, 225) 0, transparent 48%), radial-gradient(at 47% 67%, rgb(196, 181, 253) 0, transparent 73%), radial-gradient(at 80% 89%, rgb(212, 212, 216) 0, transparent 97%);


background-color: rgb(255, 247, 237);
background-image: radial-gradient(at 15% 15%, rgb(79, 70, 229) 0, transparent 71%), radial-gradient(at 38% 18%, rgb(240, 171, 252) 0, transparent 81%), radial-gradient(at 44% 36%, rgb(161, 98, 7) 0, transparent 63%), radial-gradient(at 88% 72%, rgb(251, 191, 36) 0, transparent 93%), radial-gradient(at 71% 18%, rgb(194, 65, 12) 0, transparent 57%), radial-gradient(at 13% 13%, rgb(253, 244, 255) 0, transparent 33%);


background-color: rgb(165, 180, 252);
background-image: radial-gradient(at 32% 41%, rgb(13, 148, 136) 0, transparent 47%), radial-gradient(at 15% 61%, rgb(248, 250, 252) 0, transparent 88%), radial-gradient(at 52% 15%, rgb(88, 28, 135) 0, transparent 23%), radial-gradient(at 69% 81%, rgb(49, 46, 129) 0, transparent 78%), radial-gradient(at 9% 23%, rgb(250, 250, 250) 0, transparent 2%), radial-gradient(at 3% 19%, rgb(255, 241, 242) 0, transparent 19%);

*/
}
