<!DOCTYPE html>
<html
  lang="en"
  data-theme="{% if site.dark_mode == true %}dark{% else %}light{% endif %}"
>
  <head>
    {% include head.html %}
    <link rel="icon" href="{{ site.baseurl }}/assets/favicon.ico" />
  </head>
  <body>
    <nav>{% include nav.html %}</nav>
    <div class="wrapper">
      <main>{{ content }}</main>
      <footer>{% include footer.html %}</footer>
    </div>

    {% include link-previews.html wrapperQuerySelector="content" %}
    <script>
      // Set theme based on browser preference
      const prefersDarkScheme = window.matchMedia(
        "(prefers-color-scheme: dark)"
      ).matches;
      if (prefersDarkScheme) {
        document.documentElement.setAttribute("data-theme", "dark");
      } else {
        document.documentElement.setAttribute("data-theme", "light");
      }
    </script>
  </body>
</html>
